/2_manejo_archivos/node_modules
/3_servidor_express/node_modules
/3_servidor_express/package-lock.json
/4_primera_entrega/node_modules
/4_primera_entrega/package-lock.json
/5_websockets/node_modules
/5_websockets/package-lock.json
/6_p_integradora/node_modules
/6_p_integradora/package-lock.json
/7_segunda_entrega/node_modules
/7_segunda_entrega/package-lock.json
/8_login/node_modules
/8_login/package-lock.json
/9_estrategias/node_modules
/9_estrategias/package-lock.json
/10_p_integradora_2/node_modules
/10_p_integradora_2/package-lock.json
/11_reestructura_servidor/node_modules
/11_reestructura_servidor/package-lock.json
/12_tercera_entrega/node_modules
/13_mocking/package-lock.json
/13_mocking/node_modules
/14_logging/package-lock.json
/14_logging/node_modules
/15_p_integradora_3/package-lock.json
/15_p_integradora_3/node_modules
/16_documentar_api/package-lock.json
/16_documentar_api/node_modules
/17_testing_avanzado/package-lock.json
/17_testing_avanzado/node_modules