<h1>Chat</h1>

<div>
<label for="useremail">Email of user:</label>
<input id="useremail">
<label for="textbox">Message:</label>
<input id="textbox">
<p id="log" ></p>
</div>



<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>